name: Linkcheck

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      sphinx-version: '3.*'
      python-version: 3.8

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ env.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ env.python-version }}

    - name: Set up Sphinx ${{ env.sphinx-version }}
      run: |
        python -V
        python -m pip install --upgrade pip
        pip install "sphinx==${{ env.sphinx-version }}"
        pip install "jinja2<3.1"

    - name: Test for broken links
      run: |
        python -m sphinx docs/ docs/_build/ -b linkcheck -W
