name: Sphinx

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      python-version: 3.8
    strategy:
      matrix:
        sphinx-version: [ 1.6.7, 1.8.6, 2.4.5, 3.5.4, 4.5.0 ]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ env.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ env.python-version }}

    - name: Set up Sphinx ${{ matrix.sphinx-version }}
      run: |
        python -V
        python -m pip install --upgrade pip
        pip install "sphinx==${{ matrix.sphinx-version }}"
        pip install "docutils<0.17"
        pip install "jinja2<3.1"

    - name: Tests
      run: |
        python -m sphinx tests tests/_build/ -c docs/ -b html -W
        python -m sphinx tests tests/_build/ -c docs/ -b latex -W
